h1{
    color: white;
    font-family: "impact";
    text-align: center;
    background-color:black;
}
h2{
    color: cornflowerblue;
    text-align: center;
    background-color:antiquewhite;
}
h3{
    color:darkgreen;
}
p{
    color:chocolate;
    font-size: 15px;
}

body{
    background-attachment:scroll;
    background-position :center;
    background-image: url("../images/04.jpeg")
    
}