h1{
    color:white;
    font-family:"impact";
    text-align: center;
    background-color: darkgreen;
}
h2{
    color:beige;
    text-align: center;
    background-color:darkcyan;
}
p{
    text-align: center;
}
table{
    background-color:deepskyblue;
}
body{
    background-attachment:scroll;
    background-position:bottom;
    background-image: url("../images/06.jpg")
}
ol{
    background-image: url(../images/04.jpeg)
}