h1{
    color:white;
    background-color: black;
    text-align: center;
}
.white{
    color:white;
}

h1#k{
    color:darkslateblue;
    background-color: cornflowerblue;
}

h2{
    text-align: center;
    background-color: chocolate;
    color:chartreuse;
}

h2#u{
    color:darkgray;
    background-color: azure;
}

body{
    background-image: url(../images/08.jpg)
}